lxml #geändert 2026.03 ==4.6.2 #wegen Fehlermeldung bei streamlit installation
docx #geändert 2026.03==0.2.4
matplotlib #geändert 2026.03==3.5.1
numpy #geändert 2026.03 ==1.21.6
pandas #geändert 2026.03 ==1.4.2
pandas_profiling #geändert 2026.03==3.6.6
#pygwalker==0.1.10 deaktiviert 2024.12.18 wegen Fehlermeldung
pyreadstat #geändert 2026.03==1.1.9
seaborn #geändert 2026.03==0.11.2
streamlit
#streamlit_pandas_profiling==0.1.3
#ydata_profiling==4.1.2
xlrd
openpyxl
xlsxwriter
